.graphHeaderContainer {

    width: auto;
    height: 270px;

}

.graphHeader {

    width: 100%;
    height: 100%;
    background-image: url(../../images/graph/graphPageHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.naviBarG {

    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-template-columns: 1rem 15rem auto 15rem 1rem;


}

.navi1G {
    width: 5%;
    height: 100%;

}

.naviTitleG {
    height: 100%;
    font-size: 60px;
    line-height: 2;
    color: white;
    border: none;
    background: none;
}


.navi2G {

    width: 70%;
    height: 100%;
}

.naviContentG {
    flex: none;
    margin-left: auto;
    width: 25%;
    height: 100%;
    line-height: 8;
    font-size: 5px;
    font-weight: bold
}

.naviContentG button {
    color: white;
    border: none;
    background: none;

}

.naviContentG button:hover {
    cursor: pointer;
}

.naviContentG a {

    margin-right: 25px;
}

/* .navi3 {

    width: 3%;
    height: 100%;

} */