.articleWrapper {
  width: 100vw;
  height: 100vh;
  background-color: #FAFBFC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.articleContainer {
  width: 800px;
  height: 1160px;
  background-color: white;
  border: solid;
  border-color: #E8EBEE;
  border-width: thin;
  border-radius: 3mm;
  overflow: hidden;
  box-shadow: 0.3px 0.3px #E8EBEE;
}

.aritcleTitleBox {
  width: 100%;
  height: 5%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: solid;
  border-color: #E8EBEE;
  border-width: thin;
  
}

.articleTitle {
  width: 42%;
  height: 100%;
  font-size: 24px;
  font-weight: 600;
  line-height: 2.4;

}

.articleDate {
  width: 26%;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 3.2;
  text-align: right;

}

.articleAuthor {
  width: 26%;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 3.2;
  text-align: right;
}


.articleImageBox {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid;
  border-color: #E8EBEE;
  border-width: thin;
  
}


.articleImage {
  width: 50%;
  height: 90%;
  border-radius: 1mm;
  overflow: hidden;
  background-color: white;
}

.articleContent {
  width: 100%;
  height: 62%;
  border-bottom: solid;
  border-color: #E8EBEE;
  border-width: thin;
  padding: 10px;
  overflow: auto;
}

.articleRecommand { 
  width: 100%;
  height: 5.7%;
  text-align: center;
}

.articleRecommand button {
  display: inline-block;
  width: 50px;
  height: 30px;
  margin: 10px;
  
}


