.blogWrapper {

  background-color: #F2F2F2;
  min-width: 57rem;
  min-height: 75.75rem;

}


.blogHeaderContainer {

  width: 100%;
  height: 16.875rem;
  
}
  
.blogMiddleContainer {

  margin: 0;
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

}


.blogMiddleInner {
  margin: 0;
  height: 80%;
  width: auto;
}

.blogTailContainer {

  width: auto;
  height: 26rem;
  background-color: #252525;
  
}
