.blogHeaderContainer {

width: auto;
height: 16.875rem;

}

.blogHeader {

  width: 100%;
  height: 100%;
  background-image: url(../../images/blog/FoodLogBlog9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.naviBar {

width: 100%;
height: 20%;
display: flex;
flex-direction: row;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:  #19C764;

}

.navi1 {

  width: 10%;
  height: 100%;

}

.naviTitle {

  width: 5%;
  height: 100%;
  font-size: 2.625rem;
  line-height: 2;
}


.navi2 {

  width: 50%;
  height: 100%;
}

.naviContent {

  width: 25%;
  height: 100%;
  font-weight:bold
}

.naviContent button {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 800;
  line-height: 6;
  border: none;
  background: none;
  
}

.naviContent button:hover {
  cursor: pointer;
  color:  #19C764;;
}

.naviContent a {

  margin-right: 1.6rem;
}

.navi3 {

  width: 10%;
  height: 100%;

}


