.mainTitle {
  margin-top: 1rem;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #F2F2F2;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}


.blogMiddleArticleContainer {

  width: auto;
  height: 47.5rem;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.blogMiddleAritcleBox {

  width: 40%;
  height: 80%;
  background-color: #F2F2F2;
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}


