.loginWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}


.loginContainer {
  width: 300px;
  height: 400px;
  background-color: white;
  padding: 0;
}


.middleContainer {
  box-sizing: border-box;
  width: 100%;
  height: 45%;
  background-color: white; 
  border: 0.1mm ;
  border-style: solid;
  border-radius: 1mm;
  border-color: gray;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;

}

.idBox {
  width: 100%;
  height: 32px;
  margin-bottom: 0.1px;
  border: 0.05mm;
  border-bottom: 0;
  border-color: black;
  border-radius: 1mm;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-style: solid;
  outline:none
  
}

.passwordBox {
  width: 100%;
  height: 32px;
  margin-bottom: 10px;
  border: 0.05mm;
  border-color: black;
  border-radius: 1mm;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-style: solid;
  outline:none
}

.alertBox {
  font-size: 2px;
  color: red;
  margin-bottom: 10px;
}

.loginButton {
  box-sizing: border-box;
  background-color:  #19C764;
  width: 264.74px;
  height: 32px;
  border-style: none;
  border-radius: 1mm;
  font-weight: 200;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}





