.loginWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}


.loginContainer {
  width: 18.75rem;
  height: 25rem;
  background-color: white;
  padding: 0;
}


.middleContainer {
  box-sizing: border-box;
  width: 100%;
  height: 45%;
  background-color: white; 
  border: 0.1mm ;
  border-style: solid;
  border-radius: 1mm;
  border-color: gray;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;

}

.idBox {
  width: 100%;
  height: 2rem;
  margin-bottom: 0.00625rem;
  border: 0.05mm;
  border-bottom: 0;
  border-color: black;
  border-radius: 1mm;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-style: solid;
  outline:none
  
}

.passwordBox {
  width: 100%;
  height: 2rem;
  margin-bottom: 0.625rem;
  border: 0.05mm;
  border-color: black;
  border-radius: 1mm;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-style: solid;
  outline:none
}

.alertBox {
  font-size: 0.125rem;
  color: red;
  margin-bottom: 0.625rem;
}

.loginButton {
  box-sizing: border-box;
  background-color:  #19C764;
  width: 16.54625rem;
  height: 2rem;
  border-style: none;
  border-radius: 1mm;
  font-weight: 200;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}





