.headerContainer {
  width: 100%;
  height: 15%; 
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1mm;

}

.headerTitle {
  width: 160px;
  background-color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 42px;
  font-weight: bolder;
  color: #19C764;
  
}