.MainHeader {
  
  width: 43.75rem;
  height: 31.25rem;
  background-color: white;
  margin: auto;

}

.HeaderTitle {
  width: 100%;
  margin-bottom: 1.25rem;
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#ff9500;
  
}

.HeaderTitle2 {
  width: 100%;
  margin-bottom: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: black;
}

.HeaderTitle3 {
  width: 100%;
  margin-bottom: 1.875rem;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.imageBox {
  width: 100%;
  height: 12.5rem;
  margin-bottom: 3.75rem;
  

}


.image1 {
  width: 12.5rem;
  height: 12.5rem;
  margin-right: 1.875rem;
  border-style: hidden;
  border-radius: 3mm;
  
}

.image2 {
  width: 12.5rem;
  height: 12.5rem;
  margin-right: 1.875rem;
  border-style: hidden;
  border-radius: 3mm;

}

.image3 {
  width: 12.5rem;
  height: 12.5rem;
  margin-right: 1.875rem;
  border-style: hidden;
  border-radius: 3mm;
}

.linkButton {
  
  width: 12.5rem;
  height: 3rem;
  border: hidden;
  border-radius: 0.75rem;
  background-color: #ff9500;  
  
  font-size: 0.875rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  text-align: center;
  color: #fff;
  cursor: pointer;

}