.wrapper {
  width: 100vw;
  height: 100vh;
}

.mainHeaderContainer {
  width: 100%;
  height: 500px;
  background-color: white;

}

.mainMiddleContainer {
  width: 100%;
  height: 500px;
  background-color: #FFF5EC;

}

.mainTailContainer {
  width: 100%;
  height: 500px;
  background-color: white;

}


.mainContainer {
  width: 1000px;
  height: 1500px;
  margin: auto;
}