.mainWrapper {
  width: 100vw;
  height: 100vh;
}

.mainHeaderContainer {
  width: 100%;
  height: 31.25rem;
  background-color: white;

}

.mainMiddleContainer {
  width: 100%;
  height: 31.25rem;
  background-color: #FFF5EC;

}

.mainTailContainer {
  width: 100%;
  height: 31.25rem;
  background-color: white;

}


.mainContainer {
  width: 62.5rem;
  height: 93.75rem;
  margin: auto;
}