.MainBottom { 
  width: 1000px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.BottomBox1 {
  width: 600px;
  height: 500px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.BottomBox1-1 {
  width: 300px;
  height: 250px; 
  

}

.row1 {
  color: orange;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}

.row2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.row3 {
  font-size: 12px;
  margin-bottom: 5px;
}

.row4 {
  font-size: 12px;
  margin-bottom: 20px;
}

.row5 {
  font-weight: bolder;
}

.row6 {
  font-weight: bolder;
}

.row7 {
  font-weight: bolder;
}


.BottomBox2 {
  flex: auto;
  display: flex;
  align-items: center;
}

.BottomBox2-1 {
  background-color: red;
  width: 300px;
  height: 250px;
  color: white
}

.BottomBox2-1 img {
  width: 100%;
  height: 100%;
}