/* 전체 컨테이너 및 Css중 공통 부분 */

.RegisterContainer {
  width: 310px;
  height: 620px;
  margin: auto;
  background-color: white;
  padding: 10px;
  

}

.checker {
  font-size: 2px;
  line-height: 14px;
  color: red;
  margin-bottom: 6px;
}

input::-webkit-outer-spin-button,

input::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}



/* Foodlog 제목 부분 */

.headerContainer {
  width: 100%;
  height: 10%; 
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1mm;
  margin-bottom: 10px;
}

.headerTitle {
  width: 160px;
  background-color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 42px;
  font-weight: bolder;
  color: #19C764;
  
}

/*  idBox  */


.idTitle {
  font-size: 12px;
  margin-bottom: 5px;
}

.idBox {
  width: 100%;
  height: 32px;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 4px;
  
}



/* passwordBox */


.passowrdTitle {
  font-size: 12px;
  margin-bottom: 5px;
}

.passwordBox {
  width: 100%;
  height: 32px;
  border: 0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 4px;
}

.confirmTitle {
  font-size: 12px;
  margin-bottom: 5px;
}

.confirmBox {
  width: 100%;
  height: 32px;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 4px;
}


/* nameBox */


.nameTitle {
  font-size: 12px;
  margin-bottom: 5px;
}

.nameBox {
  width: 100%;
  height: 32px;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 4px;
  
}


/* birthdayBox (year, month, day) */



.birthTitle {
  font-size: 12px;
  margin-bottom: 5px;
}

.yearBox {
  width: 32%;
  height: 32px;
  margin-right: 2%;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 4px;
  
}

.monthBox {
  width: 32%;
  height: 32px;
  margin-right: 2%;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 4px;
  
}

.dayBox {
  width: 32%;
  height: 32px;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 4px;
  
}



/* sexBox(성별) */


.sexTitle {
  font-size: 12px;
  margin-bottom: 5px;
}

.sexBox {
  width: 100%;
  height: 32px;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 4px;
}




/* phoneNumberBox */


.phoneNumberTitle {
  font-size: 12px;
  margin-bottom: 5px;
}

.phoneNumberBox {
  width: 100%;
  height: 32px;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 4px;
  
}

.phoneNumberChecker {
  font-size: 2px;
  line-height: 14px;
  color: red;
  margin-bottom: 6px;
  margin-bottom: 20px;
}




/* 회원가입 버튼 */

.registerButton {
  width: 100%;
  height: 36px;
  border: none;
  background-color: #19C764;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  color:white
}