.birthTitle {
  font-size: 12px;
  margin-bottom: 5px;
}

.yearBox {
  width: 32%;
  height: 32px;
  margin-right: 2%;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  
}

.monthBox {
  width: 32%;
  height: 32px;
  margin-right: 2%;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  
}

.dayBox {
  width: 32%;
  height: 32px;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  
}

.birthChecker {
  margin-bottom: 10px;
}