/* 전체 컨테이너 및 Css중 공통 부분 */

.RegisterContainer {
  width: 19.375rem;
  height: 38.75rem;
  margin: auto;
  background-color: white;
  padding: 0.625rem;
  

}

.checker {
  font-size: 0.125rem;
  line-height: 0.875rem;
  color: red;
  margin-bottom: 0.375rem;
}

input::-webkit-outer-spin-button,

input::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}



/* Foodlog 제목 부분 */

.headerContainer {
  width: 100%;
  height: 10%; 
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1mm;
  margin-bottom: 0.625rem;
}

.headerTitle {
  width: 10rem;
  background-color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.625rem;
  font-weight: bolder;
  color: #19C764;
  
}

/*  idBox  */


.idTitle {
  font-size: 0.75rem;
  margin-bottom: 0.3125rem;
}

.idBox {
  width: 100%;
  height: 2rem;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 0.25rem;
  
}



/* passwordBox */


.passowrdTitle {
  font-size: 0.75rem;
  margin-bottom: 0.3125rem;
}

.passwordBox {
  width: 100%;
  height: 2rem;
  border: 0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 0.25rem;
}

.confirmTitle {
  font-size: 0.75rem;
  margin-bottom: 0.3125rem;
}

.confirmBox {
  width: 100%;
  height: 2rem;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 0.25rem;
}


/* nameBox */


.nameTitle {
  font-size: 0.75rem;
  margin-bottom: 0.3125rem;
}

.nameBox {
  width: 100%;
  height: 2rem;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 0.25rem;
  
}


/* birthdayBox (year, month, day) */



.birthTitle {
  font-size: 0.75rem;
  margin-bottom: 0.3125rem;
}

.birthBoxContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}


.yearBox {
  width: 32%;
  height: 1.8125rem;
  margin-right: 2%;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 0.25rem;
  
}

.monthBox {
  width: 32%;
  height: 2.03125rem;
  margin-right: 2%;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 0.25rem;
  
}

.dayBox {
  width: 32%;
  height: 1.8125rem;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 0.25rem;
  
}



/* sexBox(성별) */


.sexTitle {
  font-size: 0.75rem;
  margin-bottom: 0.3125rem;
}

.sexBox {
  width: 100%;
  height: 2rem;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 0.25rem;
}




/* phoneNumberBox */


.phoneNumberTitle {
  font-size: 0.75rem;
  margin-bottom: 0.3125rem;
}

.phoneNumberBox {
  width: 100%;
  height: 2rem;
  border:0.2mm;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0;
  outline:none;
  margin-bottom: 0.25rem;
  
}

.phoneNumberChecker {
  font-size: 0.125rem;
  line-height: 0.875rem;
  color: red;
  margin-bottom: 0.375rem;
  margin-bottom: 1.25rem;
}




/* 회원가입 버튼 */

.registerButton {
  width: 100%;
  height: 2.25rem;
  border: none;
  background-color: #19C764;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.8125rem;
  color:white;
}

.registerButton:hover {
  cursor: pointer;
}

.registerButton:disabled {
  cursor: not-allowed;
}



/* 올바른 id와 비밀번호를 입력했을시 */

.verified {
  color: #16A628;
}